#foto{
    background-image: url(../img/minions.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.diferenciais li{
    border: forestgreen solid 2px;
    border-style:ridge;
    font-style: bold;
}