html{
    width: 100%;
    height: 100%;
    background-color: black;
}

body{
    width: 100%;
    height: 100%;
    font-size: 40px;
    color:lawngreen;
    font-family:serif;
    padding: 10px;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    background-image:url(../img/nave.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: fantasy;
}

header{
    width: 100%;
    height: 30%;
}

.menu-opcoes ul{
    font-size: 20px;
}

.menu-opcoes link{
    color: #003366;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}
.painel {
    margin: 10px 0px;
    padding: 10px;
    width: 47%;

}

.aula1{
    float: left;
    background-color: darkred;
}

.blog{
    float: right;
    background-color: darkgreen;
}

.painel li{
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin: 2px;
    padding-bottom: 10px;
}

.painel h2{
    font-size: 30px;
}

.painel a{
    color: blue;
    font-size: 15px;
    text-align: center;
}

main{
    width: 100%;
    height: 60%;
}

footer img{
    width: 15%;
    height: auto;
}

.social{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

footer{
    height: 20%;
    clear: both;
    position: relative;
}

.social li{
    float: left;
}

.social a{
    width: 20px;
    height: 20px;

}

.social a[href*="https://www.instagram.com/murilorihan/"]{
    background-image: url(../img/instagram-colorido.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
}

.social a[href*="https://br.linkedin.com/in/murilo-rihan-18245b31a"]{
    background-image: url(../img/linkedin-colorido.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
}

.social a[href*="https://github.com/omuriloo"]{
    background-image: url(../img/github.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
}

header a:before{
    content: '>';
}

header a:after{
    content: '<';
}

header a:hover{
    background-color: green;
}

header a:hover{
    background-color:#003366;
}

.destaque img{
    height: 100px;
    width: 100px;
}