* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#fundo_logo {
    width: 100%;
    height: 5%;
    background-color: #FF6923;
}

#logo {
    display: flex;
}

#perfil {
    width: 48px;
    height: 48px;
    display: inline-flex;
}

#tuaobra {
    width: 48px;
    height: 48px;
    display: inline-flex;
    padding: 0 130px;
}

#menu {
    width: 48px;
    height: 48px;
    display: inline-flex;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d9d9d9;
    min-width: 160px;
    right: 20%;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: #333;
}

.menu ul li:hover .dropdown-content {
    display: block;
}

.dropdown {
    list-style-type: none;
}

#barra{
    background-color: #d9d9d9;
    width: 289px;
    height: 30px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px black solid;
    margin-top: 20px;
    padding-top: 5px;
}

#pesquisas{
    background-color: #FF6923;
    color: white;
    margin: 20px;
    border-radius: 6px;
    border: 1px black solid;
    padding-top: 10px;
    padding-bottom: 20px;
}

#texto_pesquisa{
    padding: 20px 0 0 20px;
    font-size: 18px;
}

#descricao_pesquisa{
    display: inline-flex;
    margin: 0 auto;
}

#img_pesquisa{
    width: 73px;
    height: 101px;
    padding:0 0 0 10px;
}

#mini_descricao{
    padding: 10px 0 0 0;
    font-size: 12px;
}

#nome_pesquisa{
    display: inline-flex;
    font-size: 18px;

}
#ajustes{
    flex-direction: column;
    padding: 0 0 0 20px;
}