* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
}

#fundo {
    width: 100%;
    height: 5%;
    background-color: #FF6923;
}

#logo {
    display: flex;
}

#perfil {
    width: 48px;
    height: 48px;
    display: inline-flex;
}

#tuaobra {
    width: 48px;
    height: 48px;
    display: inline-flex;
    padding: 0 130px;
}

#menu {
    width: 48px;
    height: 48px;
    display: inline-flex;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d9d9d9;
    min-width: 160px;
    right: 20%;
}

.dropdown-content a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: #333;
}

.menu ul li:hover .dropdown-content {
    display: block;
}

.dropdown {
    list-style-type: none;
}

#corpo{
    display: inline-flex;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

#ajuste{
    flex-direction: column;
    padding: 30px 0 0 20px;
}

h1{
    display: inline-flex;
    margin: 0 0 8px 0;
}

#texto_corpo{
    padding: 30px 0 0 0;
    margin: 10px;
    font-size: 18px;
}

#telha{
    width: 167px;
    height: 232px;
    border-radius: 15px;
    margin: 10px;
    padding: 0 0 30px 10px;
    object-fit: cover;
}

#foto{
    background-color: #FF6923;
    width: 167px;
    height: 232px;
    border-radius: 15px;
    margin: 10px;
}

#botao {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 27px;
    background-color: #333;
    color: white;
    text-align: center;
}

#texto_botao{
    padding: 10px 0 0 0;
    font-size: 24px;
}

#informacoes{
    padding: 30px 0 0 10px;
    font-size: 20px;
}

#texto_informacoes{
    padding: 10px 0 30px 30px;
}